@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Merriweather", serif;
}

/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner section style start here */
.banner-container {
    max-width: 1320px;
    height: 680px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('./resources/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.banner-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banner-container h1 {
    font-size: 72px;
    font-weight: 900;
    color: white;
}

.banner-container p {
    font-size: 32px;
    font-weight: 400;
    color: white;
}

/* banner section style end here */
/* <!-- 65% section style start here --> */
.second-section {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}

.off-heading {
    color: red;
}

.our-holiday {
    color: tomato;
}

.img-container {
    margin-top: 90px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* <!-- 65% section style end here --> */
/* midnight party section style start here */
.midnight-party-container {
    width: 1320px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('./resources/Vectorrr.png');
    margin: 0 auto;
    display: flex;
    background-blend-mode: overlay;
}

.right-side-contant {
    width: 80%;
    height: 600px;
    color: white;
    background-image: url('./resources/Group\ 70.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.left-side-contant {
    width: 120%;
    height: 600px;
    font-family: Merriweather;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: white;
}

/* midnight party section style start here */
/* holiday section style start here */
.holiday-section-container {
    width: 1320px;
    height: 786px;
    border: 2px solid tomato;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068;
    height: 260px;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: coral;
    position: absolute;
    top: 71%;
}

.gift-box {
    display: flex;
    width: 674;
    height: 577px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.gift-box .box {
    width: 500px;
    height: 300px;
}

.girl-container {
    width: 400px;
    height: 400px;
    position: relative;
    left: -2%;
    top: -39%;

}

.discount {
    position: absolute;
    top: 17%;
    left: 50%;
    z-index: 1;
}

/* holiday section style end here */
/* portfolio section style start here */
.portfolio-container {
    width: 1320px;
    height: 1163px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 100px;
}

/* portfolio section style end here */
.item img {}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* footer section style start here */
.footer-container {
    width: 1320px;
    height: 609px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-first-section {
    display: flex;
    color: white;
    gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
}

.hrline {
    color: white;
    width: 1320px;
}

.social-icons {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.footer-bottom {
    display: flex;
    color: white;
    margin-top: 400px;
    justify-content: space-between;
}